.headingDark {
  color: white;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.headingLight {
  color: black;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.dark-bg {
  background-color: black;
}
.light-bg {
  background-color: white;
}
.image {
  height: 150px;
  width: 150px;
}
.subContainer {
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
